<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12" >
      hhh
      <div class="col-xs-6 col-sm-6">
        <img ng-src="{{ product.apiProduct.img }}" class="img-responsive" alt="a" />

      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="shop-panel panel-info">
          <div class="panel-heading"><h4>Versandkostenfrei ab 29,- € bestellen</h4></div>
          <div class="panel-body">
            <h2 data-ng-bind="product.apiProduct.name"></h2>
            <div ng-bind="product.apiProduct.shortDescription"></div>
            <div class="row">

              <div class="col-xs-12 c-ol-ms-6 starsrating">
                <span  ng-show="product.apiProduct.ratingAverage !='NaN'">
                    Bewertung: <rating ng-model="product.apiProduct.ratingAverage" max="max" readonly="isReadonly" titles="['one','two','three']" ></rating>
                </span>
              </div>

              <div class="col-xs-12 c-ol-ms-6">

                <!-- Sondern-Angebot -->
                <div class="pull-right" ng-if="pctddtct.isOffer(product.apiProduct)">
                  <button type="button" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span data-ng-bind="product.apiProduct.discountPrice | currency: 'Eur '"></span>
                  </button>
                </div>

                <!-- Std-Angebot -->
                <div class="pull-right" ng-if="!pctddtct.isOffer(product.apiProduct)">
                  <button type="button" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span data-ng-bind="product.apiProduct.price | currency: 'Eur '"></span>
                  </button>
                </div>

              </div>
            </div>
          </div>

          <div class="row addtocart">
            <div class="btn-block">
              <input type="text" data-ng-model="pctddtct.shopping_quantity" value="1" popover="Bitte hier die gewünscht Menge eingeben" popover-trigger="focus" class="form-control" style="width: 35px; height: 45px; position: absolute;">
              <button class="btn btn-success btn-lg btn-block" style=" height: 45px;" ng-click="pctddtct.addToCart(product.apiProduct)">in den Warenkorb</button>
            </div>
          </div>

        </div>

        <div ng-bind-html="product.detailLongDescription"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12" >
      <tabset>
        <tab>
          <tab-heading>
            <i class="glyphicon glyphicon-book"></i>&nbsp;Technische Details
          </tab-heading>
          <div ng-bind-html="product.tecnicalDetailsDescription"></div>
        </tab>

        <tab>
          <tab-heading>
            <i class="glyphicon glyphicon-share"></i>&nbsp;Bewertung
          </tab-heading>
          <bewertung></bewertung>
        </tab>

      </tabset>

    </div>
  </div>
</div>
