<div class="myProductBlock" >
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
    <div class="offer " ng-class="{'offer-danger':pctdct.isOffer(product), 'offer-info':!pctdct.isOffer(product)}"  >
      <div class="offer-content">
        <img ng-src="{{ product.img }}" class="img-responsive" alt="a" />
        <div class="lead" data-ng-bind="product.name" ></div>
        <p ng-if="pctdct.isOffer(product)" class="text-danger">
          bis zu {{ product.discount }}% Rabatt
        </p>

        <div >
          <p data-ng-bind="product.shortdescription"/>
          <div class="priceholder">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <a class="btn btn-success btn-sm" ng-href="#/products/{{ product.id }}/details">Detail</a>
                </div>

                <div ng-if="!pctdct.isOffer(product)" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <p class="price" data-ng-bind="(product.price | number:2) + '&nbsp;€'" />
                </div>

                <div ng-if="pctdct.isOffer(product)"  class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                  <p class="oldprice" data-ng-bind="(product.price | number:2) + '&nbsp;€'" />
                </div>
                <div ng-if="pctdct.isOffer(product)"  class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
                  <p class="discountPrice" data-ng-bind="(product.discountPrice | number:2) + '&nbsp;€'" />
                </div>

              </div>
          </div>
        </div>
      </div>
      <div ng-if="pctdct.isOffer(product)" class="shape">
        <div class="shape-text">
          {{ product.discount }}%
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix visible-xs-block"></div>
